*.netrwhist
*.swp
*.DS_Store

emacs/emacs.d/auto-save-list/*
emacs/emacs.d/backups/*
emacs/emacs.d/elpa/*
emacs/emacs.d/ido.last*
emacs/emacs.d/projectile-bookmarks.eld
emacs/emacs.d/*.cache
emacs/emacs.d/recentf
emacs/emacs.d/tramp
emacs/emacs.d/url/*
emacs/emacs.d/eshell/*
emacs/emacs.d/lisp/*
emacs/emacs.d/bin/*
emacs/emacs.d/core/*
emacs/emacs.d/docs/*
emacs/emacs.d/modules/*
emacs/emacs.d/test/*
emacs/emacs.d/straight

vim/bundle/*
vim/UltiSnips/*

zsh/completions