*.netrwhist
*.swp

emacs/emacs.d/auto-save-list/*
emacs/emacs.d/backups/*
emacs/emacs.d/elpa/*
emacs/emacs.d/ido.last*
emacs/emacs.d/projectile-bookmarks.eld
emacs/emacs.d/*.cache
emacs/emacs.d/recentf
emacs/emacs.d/tramp
emacs/emacs.d/url/*
emacs/emacs.d/eshell/*
emacs/emacs.d/lisp/*
vim/bundle/*
vim/UltiSnips/*
